
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

/* @tailwind base; */
.container
{
    width: 100%;
}
@media (min-width: 640px)
{
    .container
{
        max-width: 640px;
    }
}
@media (min-width: 768px)
{
    .container
{
        max-width: 768px;
    }
}
@media (min-width: 1024px)
{
    .container
{
        max-width: 1024px;
    }
}
@media (min-width: 1280px)
{
    .container
{
        max-width: 1280px;
    }
}
@media (min-width: 1536px)
{
    .container
{
        max-width: 1536px;
    }
}
.absolute
{
    position: absolute;
}
.relative
{
    position: relative;
}
.top-full
{
    top: 100%;
}
.right-0
{
    right: 0px;
}
.left-full
{
    left: 100%;
}
.top-0
{
    top: 0px;
}
.-top-7
{
    top: -1.75rem;
}
.-left-7
{
    left: -1.75rem;
}
.-bottom-7
{
    bottom: -1.75rem;
}
.-right-7
{
    right: -1.75rem;
}
.z-10
{
    z-index: 10;
}
.m-0
{
    margin: 0px;
}
.m-20
{
    margin: 5rem;
}
.mx-auto
{
    margin-left: auto;
    margin-right: auto;
}
.mx-6
{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.mr-4
{
    margin-right: 1rem;
}
.ml-2
{
    margin-left: 0.5rem;
}
.mb-16
{
    margin-bottom: 4rem;
}
.mb-5
{
    margin-bottom: 1.25rem;
}
.box-border
{
    box-sizing: border-box;
}
.block
{
    display: block;
}
.inline-block
{
    display: inline-block;
}
.flex
{
    display: flex;
}
.hidden
{
    display: none;
}
.h-auto
{
    height: auto;
}
.h-5
{
    height: 1.25rem;
}
.w-full
{
    width: 100%;
}
.w-40
{
    width: 10rem;
}
.w-10
{
    width: 2.5rem;
}
.w-5
{
    width: 1.25rem;
}
.flex-grow
{
    flex-grow: 1;
}
.cursor-pointer
{
    cursor: pointer;
}
.list-none
{
    list-style-type: none;
}
.flex-col
{
    flex-direction: column;
}
.flex-wrap
{
    flex-wrap: wrap;
}
.items-end
{
    align-items: flex-end;
}
.items-center
{
    align-items: center;
}
.justify-center
{
    justify-content: center;
}
.justify-between
{
    justify-content: space-between;
}
.whitespace-nowrap
{
    white-space: nowrap;
}
.rounded-full
{
    border-radius: 9999px;
}
.border-0
{
    border-width: 0px;
}
.border
{
    border-width: 1px;
}
.border-b
{
    border-bottom-width: 1px;
}
.border-solid
{
    border-style: solid;
}
.border-thistleGreen
{
    --tw-border-opacity: 1;
    border-color: rgb(208 208 167 / var(--tw-border-opacity));
}
.border-transparent
{
    border-color: transparent;
}
.bg-white
{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-transparent
{
    background-color: transparent;
}
.bg-darkGray
{
    --tw-bg-opacity: 1;
    background-color: rgb(4 40 45 / var(--tw-bg-opacity));
}
.bg-black
{
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-lightGreen
{
    --tw-bg-opacity: 1;
    background-color: rgb(231 242 237 / var(--tw-bg-opacity));
}
.bg-lightYellow
{
    --tw-bg-opacity: 1;
    background-color: rgb(242 242 230 / var(--tw-bg-opacity));
}
.py-3
{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.px-3
{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.py-1
{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.px-4
{
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-2
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-4
{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.py-16
{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.pb-5
{
    padding-bottom: 1.25rem;
}
.pr-14
{
    padding-right: 3.5rem;
}
.pl-0
{
    padding-left: 0px;
}
.pt-2
{
    padding-top: 0.5rem;
}
.pb-2
{
    padding-bottom: 0.5rem;
}
.text-center
{
    text-align: center;
}
.font-playfair-bold
{
    font-family: playfair-bold, Arial, serif;
}
.font-playfair-regular
{
    font-family: playfair-regular, Arial, serif;
}
.font-playfair-italic
{
    font-family: playfair-italic, Arial, serif;
}
.font-playfair-semibold
{
    font-family: playfair-semibold, Arial, serif;
}
.text-5xl
{
    font-size: 36px;
}
.text-xl
{
    font-size: 26px;
}
.text-xxs
{
    font-size: 14px;
}
.text-sm
{
    font-size: 18px;
}
.text-3xl
{
    font-size: 30px;
}
.text-xs
{
    font-size: 1rem;
}
.font-medium
{
    font-weight: 500;
}
.uppercase
{
    text-transform: uppercase;
}
.italic
{
    font-style: italic;
}
.leading-none
{
    line-height: 1;
}
.leading-relaxed
{
    line-height: 1.625;
}
.leading-snug
{
    line-height: 1.375;
}
.leading-9
{
    line-height: 2.25rem;
}
.tracking-widest
{
    letter-spacing: 0.1em;
}
.text-darkGray
{
    --tw-text-opacity: 1;
    color: rgb(4 40 45 / var(--tw-text-opacity));
}
.text-black
{
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-white
{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.no-underline
{
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
}
.outline-none
{
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.transition
{
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

@font-face
{
    font-family: 'playfair-regular';
    src: url('/src/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face
{
    font-family: 'playfair-bold';
    src: url('/src/fonts/PlayfairDisplay-Bold.ttf');
}
@font-face
{
    font-family: 'playfair-italic';
    src: url('/src/fonts/PlayfairDisplay-Italic.ttf');
}
@font-face
{
    font-family: 'playfair-medium';
    src: url('/src/fonts/PlayfairDisplay-Medium.ttf');
}
@font-face
{
    font-family: 'playfair-semibold';
    src: url('/src/fonts/PlayfairDisplay-SemiBold.ttf');
}

body.dark {
    background-color: #292c35;
}
.checkbox {
    opacity: 0;
}

.label {
    padding: 1px;
}

.ball {
    top: 1px;
    left: 1px;
    transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
    transform: translateX(20px);
}
@media (max-width: 1199px)
{
    #collapse-navbar
    {
        height: calc(100vh - 100px);
        overflow: scroll;
    }
    nav.open
    {
        background-color: #04282D;
    }
    nav.open .open-menu, nav .close-menu
    {
        display: none;
    }
    nav.open .close-menu
    {
        display: block;
    }
}
@media (max-width: 767px)
{
    #collapse-navbar
    {
        height: calc(100vh - 87px);
    }
}
.hover\:bg-thistleGreen:hover
{
    --tw-bg-opacity: 1;
    background-color: rgb(208 208 167 / var(--tw-bg-opacity));
}
.hover\:text-white:hover
{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.focus\:outline-none:focus
{
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.group:hover .group-hover\:block
{
    display: block;
}
.group-1:hover .group-1-hover\:block
{
    display: block;
}
.dark .dark\:block
{
    display: block;
}
.dark .dark\:hidden
{
    display: none;
}
.dark .dark\:bg-black
{
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.dark .dark\:bg-gray
{
    --tw-bg-opacity: 1;
    background-color: rgb(119 119 119 / var(--tw-bg-opacity));
}
.dark .dark\:bg-white
{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.dark .dark\:bg-darkGray
{
    --tw-bg-opacity: 1;
    background-color: rgb(4 40 45 / var(--tw-bg-opacity));
}
.dark .dark\:text-white
{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
@media (min-width: 640px)
{
    .sm\:px-4
{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .sm\:py-11
{
        padding-top: 2.75rem;
        padding-bottom: 2.75rem;
    }
    .sm\:text-5xl
{
        font-size: 36px;
    }
}
@media (min-width: 768px)
{
    .md\:w-52
{
        width: 13rem;
    }
    .md\:py-14
{
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
    .md\:text-10xl
{
        font-size: 70px;
    }
    .md\:text-base
{
        font-size: 20px;
    }
    .md\:text-7xl
{
        font-size: 42px;
    }
}
@media (min-width: 1024px)
{
    .lg\:justify-start
{
        justify-content: flex-start;
    }
    .lg\:text-9xl
{
        font-size: 60px;
    }
    .lg\:text-md
{
        font-size: 22px;
    }
}
@media (min-width: 1280px)
{
    .xl\:container
{
        width: 100%;
    }
    @media (min-width: 640px)
{
        .xl\:container
{
            max-width: 640px;
        }
    }
    @media (min-width: 768px)
{
        .xl\:container
{
            max-width: 768px;
        }
    }
    @media (min-width: 1024px)
{
        .xl\:container
{
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px)
{
        .xl\:container
{
            max-width: 1280px;
        }
    }
    @media (min-width: 1536px)
{
        .xl\:container
{
            max-width: 1536px;
        }
    }
    .xl\:static
{
        position: static;
    }
    .xl\:absolute
{
        position: absolute;
    }
    .xl\:relative
{
        position: relative;
    }
    .xl\:top-auto
{
        top: auto;
    }
    .xl\:m-auto
{
        margin: auto;
    }
    .xl\:block
{
        display: block;
    }
    .xl\:flex
{
        display: flex;
    }
    .xl\:hidden
{
        display: none;
    }
    .xl\:w-auto
{
        width: auto;
    }
    .xl\:w-64
{
        width: 16rem;
    }
    .xl\:flex-row
{
        flex-direction: row;
    }
    .xl\:flex-wrap
{
        flex-wrap: wrap;
    }
    .xl\:items-center
{
        align-items: center;
    }
    .xl\:justify-end
{
        justify-content: flex-end;
    }
    .xl\:border
{
        border-width: 1px;
    }
    .xl\:border-b
{
        border-bottom-width: 1px;
    }
    .xl\:border-solid
{
        border-style: solid;
    }
    .xl\:border-thistleGreen
{
        --tw-border-opacity: 1;
        border-color: rgb(208 208 167 / var(--tw-border-opacity));
    }
    .xl\:bg-white
{
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    }
    .xl\:px-2
{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .xl\:px-4
{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .xl\:px-0
{
        padding-left: 0px;
        padding-right: 0px;
    }
    .xl\:py-2
{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .xl\:pb-0
{
        padding-bottom: 0px;
    }
    .xl\:text-xxs
{
        font-size: 14px;
    }
    .xl\:text-10xl
{
        font-size: 70px;
    }
    .xl\:tracking-normal
{
        letter-spacing: 0em;
    }
    .xl\:text-black
{
        --tw-text-opacity: 1;
        color: rgb(0 0 0 / var(--tw-text-opacity));
    }
    .xl\:hover\:text-jadeBlue:hover
{
        --tw-text-opacity: 1;
        color: rgb(11 132 151 / var(--tw-text-opacity));
    }
    .group:hover .xl\:group-hover\:text-jadeBlue
{
        --tw-text-opacity: 1;
        color: rgb(11 132 151 / var(--tw-text-opacity));
    }
    .dark .dark\:xl\:hover\:text-lightGray:hover
{
        --tw-text-opacity: 1;
        color: rgb(232 232 232 / var(--tw-text-opacity));
    }
    .dark .group:hover .dark\:xl\:group-hover\:text-lightGray
{
        --tw-text-opacity: 1;
        color: rgb(232 232 232 / var(--tw-text-opacity));
    }
}
